.plot {
    display: inline-block;
    width: 1600px;
    height: 800px;
}

.table_scores {
    border-collapse: collapse;
}

.table_scores thead {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}

.table_scores tbody {
    border: 1px solid black;
}

.table_scores tbody tr:nth-child(even) {
    background-color: lightgray;
}

.table_scores td {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.table_scores tbody tr td:nth-child(1) {
    border-right: 1px solid black;
    font-weight: bold;
    text-align: right;
}

.table_scores tbody tr td:nth-child(7) {
    border-left: 1px solid black;
    font-weight: bold;
}
