body {
    color: white;
    background-color: black;
}

.title {
    margin-left: auto;
    margin-right: auto;
}

.title img {
    width: 400px;
}

h1 {
    font-size: 54px;
}

table.schedule {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-collapse: collapse;
}

.schedule thead {
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
}

.schedule td {
    border: 1px solid white;
    width: 100px;
}

td {
    padding: 10px;
}

td.occupied {
    background-color: red;
    text-align: center;
}

td.free {
    text-align: center;
}

td.free:hover {
    background-color: darkgray;
    cursor: pointer; cursor: hand;
}

.dialog {
    color: black;
}

.date {
    font-size: 16px;
}
